In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv('../data/allocine_budjet.csv')

In [47]:
df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0', 'Unnamed: 0.2', 'Unnamed: 0.3', 'Unnamed: 0.4'])

In [48]:
df.shape

(8234, 26)

In [49]:
df[df['budget'] > 0]

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,duree,genre,pays,type,nominations,prix,annee_production,Semaine,Entrées_1ère_semaine,actor_1_popularity,actor_2_popularity,actor_3_popularity,director_popularity,vacances,saison,actors_popularity,langue,genres,budget
2,Les Herbes sèches,Deniz Celiloğlu,Merve Dizdar,Musab Ekici,Nuri Bilge Ceylan,Memento Distribution,4.0,197,Drame,Turquie,Long-métrage,1,5,2023,12 au 19 juillet 2023,32179,5.924,15.291,1.316,5.635,True,Été,22.531,tr,Drama,3720000.0
5,Farang,Nassim Lyes,Loryn Nounay,Olivier Gourmet,Xavier Gens,StudioCanal,3.4,99,Action,France,Long-métrage,0,0,2023,28 juin au 5 juillet 2023,79426,10.037,0.600,4.117,1.897,False,Été,14.754,fr,"Action, Crime, Drama",4920000.0
6,Les Trois Mousquetaires: D'Artagnan,François Civil,Vincent Cassel,Romain Duris,Martin Bourboulon,Pathé,3.7,121,Aventure,France,Long-métrage,0,0,2023,05 au 12 avril 2023,1007159,21.277,21.751,10.465,2.073,True,Printemps,53.493,fr,"Action, Adventure, History, Drama",27500000.0
7,Transformers: Rise Of The Beasts,Anthony Ramos,Dominique Fishback,Luna Lauren Velez,Steven Caple Jr.,Paramount Pictures France,2.8,128,Action,U.S.A.,Long-métrage,0,0,2023,07 au 14 juin 2023,451052,30.076,29.873,12.267,4.965,False,Été,72.216,en,"Action, Adventure, Science Fiction",195000000.0
10,Astérix et Obélix : L'Empire du milieu,Guillaume Canet,Gilles Lellouche,Marion Cotillard,Guillaume Canet,Pathé,2.4,112,Aventure,France,Long-métrage,0,0,2023,01 au 8 février 2023,1882686,14.502,13.133,28.489,17.951,False,Hiver,56.124,fr,"Comedy, Adventure, Family",72000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8199,La Folle escapade,John Hurt,Richard Briers,John Bennett,Martin Rosen,Splendor Films,4.3,101,Animation,Grande-Bretagne,Long-métrage,0,0,1978,28 novembre au 5 décembre 2012,55,15.994,6.404,3.863,1.792,False,Hiver,26.261,en,"Adventure, Animation, Drama",1000000.0
8200,La Panthère noire,Donald Sumpter,Debbie Farrington,Marjorie Yates,Ian Merrick,UFO Distribution,2.7,102,Policier,Grande-Bretagne,Long-métrage,0,0,1977,13 au 20 juillet 2016,72,10.849,1.765,3.132,0.732,True,Été,15.746,en,"Action, Thriller, Crime",500000.0
8207,L'Exorciste,Linda Blair,Ellen Burstyn,Max von Sydow,William Friedkin,Warner Bros. France,3.3,121,Epouvante-horreur,U.S.A.,Long-métrage,6,12,1973,14 au 21 mars 2001,621727,15.608,17.257,15.651,3.188,False,Printemps,48.516,en,"Horror, Thriller",18000000.0
8228,Fear and Desire,Frank Silvera,Paul Mazursky,Kenneth Harp,Stanley Kubrick,Films sans Frontières,4.0,61,Guerre,U.S.A.,Long-métrage,0,0,1953,14 au 21 novembre 2012,2597,5.359,3.082,1.286,13.801,False,Automne,9.727,en,"Drama, War",53000.0
8231,La Maison de la mort,Boris Karloff,Melvyn Douglas,Charles Laughton,James Whale,Carlotta Films,2.9,72,Epouvante-horreur,U.S.A.,Long-métrage,0,0,1932,25 septembre au 2 octobre 2019,911,7.142,3.723,7.058,1.400,False,Automne,17.923,en,"Horror, Crime",270000.0

# Genres

In [50]:
# Remplacer les valeurs "NaN" par les valeurs de la colonne 'genre'
df['genres'] = df['genres'].replace('NaN', np.nan)

# Utiliser la méthode fillna pour remplacer les valeurs NaN dans 'genres' par les valeurs de 'genre'
df['genres'].fillna(df['genre'], inplace=True)

In [51]:
df[df['genres'].isna()]

Empty DataFrame
Columns: [titre, acteur_1, acteur_2, acteur_3, réalisateur, distributeur, note_presse, duree, genre, pays, type, nominations, prix, annee_production, Semaine, Entrées_1ère_semaine, actor_1_popularity, actor_2_popularity, actor_3_popularity, director_popularity, vacances, saison, actors_popularity, langue, genres, budget]
Index: []

In [52]:
df[df['titre'] == 'Vamshajan']

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,duree,genre,pays,type,nominations,prix,annee_production,Semaine,Entrées_1ère_semaine,actor_1_popularity,actor_2_popularity,actor_3_popularity,director_popularity,vacances,saison,actors_popularity,langue,genres,budget
98,Vamshajan,Joseph Vijay,Rashmika Mandanna,Shaam,Vamshi Paidipally,Friday Entertainment,3.5,168,Drame,Inde,Long-métrage,0,0,2023,11 au 18 janvier 2023,15401,17.555,28.934,3.584,2.666,False,Hiver,50.073,NaN,Drame,NaN

In [53]:
# df.drop(columns=['genre'], inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234 entries, 0 to 8233
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   titre                 8234 non-null   object
 1   acteur_1              8234 non-null   object
 2   acteur_2              8234 non-null   object
 3   acteur_3              8234 non-null   object
 4   réalisateur           8234 non-null   object
 5   distributeur          8234 non-null   object
 6   note_presse           8234 non-null   float64
 7   duree                 8234 non-null   int64
 8   genre                 8234 non-null   object
 9   pays                  8234 non-null   object
 10  type                  8234 non-null   object
 11  nominations           8234 non-null   int64
 12  prix                  8234 non-null   int64
 13  annee_production      8234 non-null   int64
 14  Semaine               8234 non-null   object
 15  Entrées_1ère_semaine  8234 non-null   int64
 16  actor_1_popularity    8067 non-null   float64
 17  actor_2_popularity    8072 non-null   float64
 18  actor_3_popularity    8022 non-null   float64
 19  director_popularity   8099 non-null   float64
 20  vacances              8234 non-null   bool
 21  saison                8234 non-null   object
 22  actors_popularity     7790 non-null   float64
 23  langue                8136 non-null   object
 24  genres                8234 non-null   object
 25  budget                8136 non-null   float64
dtypes: bool(1), float64(7), int64(5), object(13)
memory usage: 1.6+ MB

# Langue

In [55]:
df['langue'] = df['langue'].replace('NaN', np.nan)

In [56]:
df.loc[(df['pays'] == 'France') & (df['langue'].isna()), 'langue'] = 'fr'
df.loc[(df['pays'] == 'U.S.A.') & (df['langue'].isna()), 'langue'] = 'en'

In [57]:
df[df['langue'].isna()].shape

(61, 26)

# Genres to colonnes

In [58]:
# Séparer les genres séparés par des virgules en listes de genres
df['genres'] = df['genres'].str.split(', ')

# Compter le nombre maximum de genres pour un film
max_genre_count = df['genres'].apply(len).max()

# Créer les nouvelles colonnes pour chaque genre et les initialiser à NaN
genre_columns = [f'genre{i}' for i in range(1, max_genre_count + 1)]
for col in genre_columns:
    df[col] = float('nan')

# Remplir les nouvelles colonnes avec les genres correspondants
for idx, genres_list in enumerate(df['genres']):
    for i, genre in enumerate(genres_list):
        df.at[idx, f'genre{i+1}'] = genre

In [59]:
pd.set_option('display.max_columns', None)

In [60]:
df[df.genre2.isna()].shape

(3237, 33)

In [61]:
# Remplacer les valeurs "NaN" par les valeurs de la colonne 'genre'
df['genre2'] = df['genre2'].replace('NaN', np.nan)

# Utiliser la méthode fillna pour remplacer les valeurs NaN dans 'genres' par les valeurs de 'genre'
df['genre2'].fillna(df['genre1'], inplace=True)

In [62]:
df[df.genre2.isna()].shape

(0, 33)

# Budget

In [63]:
df['budget'] = df['budget'].replace('NaN', np.nan)

In [64]:
df['budget'].fillna(0, inplace=True)

In [65]:
df[df['budget'].isna()]

Empty DataFrame
Columns: [titre, acteur_1, acteur_2, acteur_3, réalisateur, distributeur, note_presse, duree, genre, pays, type, nominations, prix, annee_production, Semaine, Entrées_1ère_semaine, actor_1_popularity, actor_2_popularity, actor_3_popularity, director_popularity, vacances, saison, actors_popularity, langue, genres, budget, genre1, genre2, genre3, genre4, genre5, genre6, genre7]
Index: []

In [66]:
df.shape

(8234, 33)

In [67]:
rows_with_newline = df[df['distributeur'].str.contains('\n')]

In [68]:
df = df.drop(rows_with_newline.index)

In [69]:
df.shape

(8112, 33)

In [70]:
#df.to_csv('data/allocine_gold.csv')

In [71]:
df

,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,duree,genre,pays,type,nominations,prix,annee_production,Semaine,Entrées_1ère_semaine,actor_1_popularity,actor_2_popularity,actor_3_popularity,director_popularity,vacances,saison,actors_popularity,langue,genres,budget,genre1,genre2,genre3,genre4,genre5,genre6,genre7
0,L'Amour et les Forêts,Virginie Efira,Melvil Poupaud,Dominique Reymond,Valérie Donzelli,Diaphana Distribution,3.800000,105,Thriller,France,Long-métrage,0,0,2023,24 au 31 mai 2023,220327,32.967,4.671,1.294,5.421,False,Printemps,38.932,fr,"[Drama, Romance]",0.0,Drama,Romance,NaN,NaN,NaN,NaN,NaN
1,Monsieur Constant,Jean-Claude Drouot,Cali,Danièle Evenou,Alan Simon,Babaika,2.300000,108,Comédie dramatique,France,Long-métrage,0,0,2023,17 au 24 mai 2023,40,2.312,1.387,2.066,0.828,False,Printemps,5.765,fr,"[Comedy, Drama]",0.0,Comedy,Drama,NaN,NaN,NaN,NaN,NaN
2,Les Herbes sèches,Deniz Celiloğlu,Merve Dizdar,Musab Ekici,Nuri Bilge Ceylan,Memento Distribution,4.000000,197,Drame,Turquie,Long-métrage,1,5,2023,12 au 19 juillet 2023,32179,5.924,15.291,1.316,5.635,True,Été,22.531,tr,[Drama],3720000.0,Drama,Drama,NaN,NaN,NaN,NaN,NaN
3,Carmen,Paul Mescal,Melissa Barrera,Rossy de Palma,Benjamin Millepied,Pathé,2.500000,116,Drame,Australie,Long-métrage,0,0,2023,14 au 21 juin 2023,24397,8.724,36.632,12.756,3.581,False,Été,58.112,en,"[Music, Drama]",0.0,Music,Drama,NaN,NaN,NaN,NaN,NaN
4,Carry On Jatta 3,Gippy Grewal,Sonam Bajwa,Binnu Dhillon,Smeep Kang,Friday Entertainment,3.082899,140,Comédie,Inde,Long-métrage,0,0,2023,28 juin au 5 juillet 2023,427,3.024,12.425,1.550,2.248,False,Été,16.999,pa,"[Drama, Comedy]",0.0,Drama,Comedy,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,The Strange Affair of Uncle Harry,George Sanders,Geraldine Fitzgerald,Ella Raines,Robert Siodmak,Swashbuckler Films,3.600000,81,Drame,U.S.A.,Long-métrage,0,0,1945,03 au 10 novembre 2021,543,9.128,3.765,6.560,1.396,True,Automne,19.453,en,"[Drama, Thriller]",0.0,Drama,Thriller,NaN,NaN,NaN,NaN,NaN
8230,Le Fils unique,Chôko Iida,Shin'ichi Himori,Masao Hayama,Yasujirô Ozu,Carlotta Films,4.600000,87,Comédie dramatique,Japon,Long-métrage,0,0,1936,19 au 26 juin 2013,3458,2.881,3.788,2.039,4.727,False,Été,8.708,ja,[Drama],0.0,Drama,Drama,NaN,NaN,NaN,NaN,NaN
8231,La Maison de la mort,Boris Karloff,Melvyn Douglas,Charles Laughton,James Whale,Carlotta Films,2.900000,72,Epouvante-horreur,U.S.A.,Long-métrage,0,0,1932,25 septembre au 2 octobre 2019,911,7.142,3.723,7.058,1.400,False,Automne,17.923,en,"[Horror, Crime]",270000.0,Horror,Crime,NaN,NaN,NaN,NaN,NaN
8232,The Lodger: A Story of the London Fog,Marie Ault,Arthur Chesney,Reginald Gardiner,Alfred Hitchcock,Carlotta Films,5.000000,79,Drame,Grande-Bretagne,Long-métrage,2,0,1927,17 au 24 novembre 2010,615,0.657,1.710,2.063,12.204,False,Automne,4.430,en,"[Drama, Thriller]",0.0,Drama,Thriller,NaN,NaN,NaN,NaN,NaN
8233,Alice comedies 2,Virginia Davis,Margie Gay,Lois Hardwick,Walt Disney,Malavida Films,4.000000,40,Animation,U.S.A.,Long-métrage,0,0,1926,17 au 24 janvier 2018,2902,0.600,0.901,0.652,13.883,False,Hiver,2.153,en,"[Animation, Comedy]",0.0,Animation,Comedy,NaN,NaN,NaN,NaN,NaN

In [72]:
df2 = pd.read_csv('../data/allocine_langue_film.csv')

In [73]:
df = df2.merge(df[['titre', 'budget', 'genre1', 'genre2']], on='titre', how='inner')

In [74]:
df = df.dropna()

In [75]:
rows_with_newline = df[df['distributeur'].str.contains('\n')]

In [76]:
df = df.drop(rows_with_newline.index)

# Note distributeur

In [77]:
df['moyenne_entrees_par_distributeur'] = df.groupby('distributeur')['Entrées_1ère_semaine'].transform('mean')

In [78]:
# Calcul de la moyenne des entrées pour chaque distributeur
mean_entries_by_distributor = df.groupby('distributeur')['Entrées_1ère_semaine'].mean()

# Classement des distributeurs en fonction de la moyenne des entrées (du plus petit au plus grand)
ranked_distributors = mean_entries_by_distributor.rank()

# Création d'un dictionnaire de correspondance entre le classement et la note
rank_to_score = {rank: score for rank, score in enumerate(range(1, len(ranked_distributors) + 1), 1)}

# Création de la colonne 'reputation_distributeur' en utilisant le classement pour attribuer une note
df['reputation_distributeur'] = df['distributeur'].map(mean_entries_by_distributor.rank().map(rank_to_score))

In [79]:
# Vous pouvez utiliser la méthode groupby de pandas pour compter le nombre de répétitions de chaque distributeur
counts = df.groupby('distributeur').size().reset_index(name='nombre_films_distributeur')

# Fusionner les résultats avec la colonne 'reputation_distributeur' pour obtenir le produit
df = df.merge(counts, on='distributeur', how='left')
# df['reputation_distributeur_1'] = df['reputation_distributeur'] * df['nombre_films_distributeur']

In [80]:
df = df[(df['Entrées_1ère_semaine'] < 3000000) ]

In [81]:
df = df.dropna()

In [82]:
df.shape

(7455, 33)

In [83]:
df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'titre', 'acteur_1',
       'acteur_2', 'acteur_3', 'réalisateur', 'distributeur', 'note_presse',
       'duree', 'genre', 'pays', 'type', 'nominations', 'prix',
       'annee_production', 'Semaine', 'Entrées_1ère_semaine',
       'actor_1_popularity', 'actor_2_popularity', 'actor_3_popularity',
       'director_popularity', 'vacances', 'saison', 'actors_popularity',
       'langue', 'budget', 'genre1', 'genre2',
       'moyenne_entrees_par_distributeur', 'reputation_distributeur',
       'nombre_films_distributeur'],
      dtype='object')

In [84]:
df = df.drop(columns=['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0',])

In [85]:
df.rename(columns={'Entrées_1ère_semaine': 'Entrees_1ere_semaine', 'réalisateur': 'realisateur'}, inplace=True)

In [86]:
df.to_csv('../data/allocine_gold.csv', index=False)

In [87]:
df.columns

Index(['titre', 'acteur_1', 'acteur_2', 'acteur_3', 'realisateur',
       'distributeur', 'note_presse', 'duree', 'genre', 'pays', 'type',
       'nominations', 'prix', 'annee_production', 'Semaine',
       'Entrees_1ere_semaine', 'actor_1_popularity', 'actor_2_popularity',
       'actor_3_popularity', 'director_popularity', 'vacances', 'saison',
       'actors_popularity', 'langue', 'budget', 'genre1', 'genre2',
       'moyenne_entrees_par_distributeur', 'reputation_distributeur',
       'nombre_films_distributeur'],
      dtype='object')