# Imports

In [1209]:
import pandas as pd

# DataFrame

In [1210]:
df = pd.read_csv('../data/allocine_popularity_actor_realisateur.csv')

In [1211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234 entries, 0 to 8233
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8234 non-null   int64
 1   titre                 8234 non-null   object
 2   acteur_1              8234 non-null   object
 3   acteur_2              8234 non-null   object
 4   acteur_3              8234 non-null   object
 5   réalisateur           8234 non-null   object
 6   distributeur          8234 non-null   object
 7   note_presse           8234 non-null   float64
 8   duree                 8234 non-null   int64
 9   genre                 8234 non-null   object
 10  pays                  8234 non-null   object
 11  type                  8234 non-null   object
 12  nominations           8234 non-null   int64
 13  prix                  8234 non-null   int64
 14  annee_production      8234 non-null   int64
 15  Semaine               8234 non-null   object
 16  Entrées_1ère_semaine  8234 non-null   int64
 17  actor_1_popularity    8067 non-null   float64
 18  actor_2_popularity    8072 non-null   float64
 19  actor_3_popularity    8022 non-null   float64
 20  director_popularity   8099 non-null   float64
dtypes: float64(5), int64(6), object(10)
memory usage: 1.3+ MB

In [1212]:
df

,Unnamed: 0,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,duree,genre,...,type,nominations,prix,annee_production,Semaine,Entrées_1ère_semaine,actor_1_popularity,actor_2_popularity,actor_3_popularity,director_popularity
0,0,L'Amour et les Forêts,Virginie Efira,Melvil Poupaud,Dominique Reymond,Valérie Donzelli,Diaphana Distribution,3.800000,105,Thriller,...,Long-métrage,0,0,2023,24 au 31 mai 2023,220327,32.967,4.671,1.294,5.421
1,1,Monsieur Constant,Jean-Claude Drouot,Cali,Danièle Evenou,Alan Simon,Babaika,2.300000,108,Comédie dramatique,...,Long-métrage,0,0,2023,17 au 24 mai 2023,40,2.312,1.387,2.066,0.828
2,2,Les Herbes sèches,Deniz Celiloğlu,Merve Dizdar,Musab Ekici,Nuri Bilge Ceylan,Memento Distribution,4.000000,197,Drame,...,Long-métrage,1,5,2023,12 au 19 juillet 2023,32179,5.924,15.291,1.316,5.635
3,3,Carmen,Paul Mescal,Melissa Barrera,Rossy de Palma,Benjamin Millepied,Pathé,2.500000,116,Drame,...,Long-métrage,0,0,2023,14 au 21 juin 2023,24397,8.724,36.632,12.756,3.581
4,4,Carry On Jatta 3,Gippy Grewal,Sonam Bajwa,Binnu Dhillon,Smeep Kang,Friday Entertainment,3.082899,140,Comédie,...,Long-métrage,0,0,2023,28 juin au 5 juillet 2023,427,3.024,12.425,1.550,2.248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,8229,The Strange Affair of Uncle Harry,George Sanders,Geraldine Fitzgerald,Ella Raines,Robert Siodmak,Swashbuckler Films,3.600000,81,Drame,...,Long-métrage,0,0,1945,03 au 10 novembre 2021,543,9.128,3.765,6.560,1.396
8230,8230,Le Fils unique,Chôko Iida,Shin'ichi Himori,Masao Hayama,Yasujirô Ozu,Carlotta Films,4.600000,87,Comédie dramatique,...,Long-métrage,0,0,1936,19 au 26 juin 2013,3458,2.881,3.788,2.039,4.727
8231,8231,La Maison de la mort,Boris Karloff,Melvyn Douglas,Charles Laughton,James Whale,Carlotta Films,2.900000,72,Epouvante-horreur,...,Long-métrage,0,0,1932,25 septembre au 2 octobre 2019,911,7.142,3.723,7.058,1.400
8232,8232,The Lodger: A Story of the London Fog,Marie Ault,Arthur Chesney,Reginald Gardiner,Alfred Hitchcock,Carlotta Films,5.000000,79,Drame,...,Long-métrage,2,0,1927,17 au 24 novembre 2010,615,0.657,1.710,2.063,12.204
8233,8233,Alice comedies 2,Virginia Davis,Margie Gay,Lois Hardwick,Walt Disney,Malavida Films,4.000000,40,Animation,...,Long-métrage,0,0,1926,17 au 24 janvier 2018,2902,0.600,0.901,0.652,13.883

In [1213]:
df.describe()

,Unnamed: 0,note_presse,duree,nominations,prix,annee_production,Entrées_1ère_semaine,actor_1_popularity,actor_2_popularity,actor_3_popularity,director_popularity
count,8234.000000,8234.000000,8234.000000,8234.000000,8234.000000,8234.000000,8.234000e+03,8067.000000,8072.000000,8022.000000,8099.000000
mean,4116.500000,3.081012,103.104688,1.623512,1.792082,2012.629585,1.520631e+05,15.002302,13.019119,10.640480,3.827132
std,2377.095391,0.640342,19.915697,2.887731,4.552327,6.869100,3.153918e+05,21.187945,22.045127,18.844658,5.867655
min,0.000000,1.000000,0.000000,0.000000,0.000000,1926.000000,4.000000e+00,0.600000,0.600000,0.600000,0.600000
25%,2058.250000,2.700000,91.000000,0.000000,0.000000,2009.000000,5.668000e+03,2.701500,2.381000,1.862000,0.922500
50%,4116.500000,3.100000,100.000000,0.000000,0.000000,2013.000000,4.269300e+04,7.772000,6.936000,5.083000,1.960000
75%,6174.750000,3.500000,112.000000,2.000000,0.000000,2017.000000,1.561878e+05,20.893000,17.845000,14.254250,4.364000
max,8233.000000,5.000000,543.000000,53.000000,62.000000,2023.000000,4.378720e+06,544.768000,544.768000,544.768000,171.690000

In [1214]:
df['Semaine'].value_counts()

26 mai au 2 juin 2021                 24
14 au 21 juillet 2021                 19
10 au 17 juillet 2019                 18
31 juillet au 7 août 2019             18
31 décembre 2008 au 7 janvier 2009    17
                                      ..
26 mai au 2 juin 2004                  1
12 au 19 novembre 2003                 1
08 au 15 octobre 2003                  1
25 décembre 2002 au 1 janvier 2003     1
31 juillet au 7 août 2002              1
Name: Semaine, Length: 1123, dtype: int64

In [1217]:
df['réalisateur'].value_counts()

François Ozon        18
Hong Sang-Soo        18
Steven Soderbergh    16
Woody Allen          16
Ridley Scott         15
                     ..
Song Chuan            1
Marie Noëlle          1
Amichai Greenberg     1
Teresa Villaverde     1
Walt Disney           1
Name: réalisateur, Length: 4576, dtype: int64

In [1218]:
df['distributeur'].value_counts()

 Metropolitan FilmExport                      423
 Warner Bros. France                          306
 Universal Pictures International France      260
 Pathé                                        252
 Twentieth Century Fox France                 237
                                             ...
\n36 entrées\n                                  1
 ESPERANZA Productions et MISE EN LUMIERE       1
 11 Décembre                                    1
 Spider World Cinema                            1
 Swashbuckler Films                             1
Name: distributeur, Length: 559, dtype: int64

# Creation colonnes : saison, vacance et nouveau

## vacances

In [1222]:
from datetime import datetime

# Dictionnaire de correspondance des noms de mois en français aux noms de mois en anglais
mois_fr_en = {
    'janvier': 'January',
    'février': 'February',
    'mars': 'March',
    'avril': 'April',
    'mai': 'May',
    'juin': 'June',
    'juillet': 'July',
    'août': 'August',
    'septembre': 'September',
    'octobre': 'October',
    'novembre': 'November',
    'décembre': 'December'
}

vacances_scolaires = []

for year in range(1200, 2025):
    vacances_scolaires.append(("Vacances de la Toussaint", f"{year}-10-22", f"{year}-11-03"))
    vacances_scolaires.append(("Vacances de Noël", f"{year-1}-12-17", f"{year}-01-02"))
    vacances_scolaires.append(("Vacances d'hiver", f"{year}-02-11", f"{year}-02-27"))
    vacances_scolaires.append(("Vacances de printemps", f"{year}-04-08", f"{year}-04-24"))
    vacances_scolaires.append(("Grandes vacances", f"{year}-07-07", f"{year}-09-01"))

def is_vacances(week):
    if not isinstance(week, str):
        return False

    # Extraire les dates de début et de fin de la semaine
    week_dates = week.split(" au ")
    if len(week_dates[0].split(' ')) == 2:
        # Cas où les dates sont de la forme 'jour1 mois1 au jour2 mois2 année'
        start_date_str = week_dates[0]
        end_date_components = week_dates[1].split(' ')  # Split the end date into components
        day, month, year = end_date_components  # Separate day, month, and year
        end_date_str = f"{day} {month} {year}"  # Join day, month, and year with spaces
        start_date_str += f" {year}" 
    elif len(week_dates[0].split(' ')) == 1 :
        # Cas où les dates sont de la forme 'jour1 au jour2 mois année'
        start_date_str = week_dates[0]
        end_date_components = week_dates[1].split(' ')  # Split the end date into components
        day, month, year = end_date_components  # Separate day, month, and year
        end_date_str = f"{day} {month} {year}"  # Join day, month, and year with spaces
        start_date_str += f" {month} {year}"  # Add the year to the start date
    elif len(week_dates[0].split(' ')) == 3:
        # Cas où les dates sont de la forme 'jour1 mois1 année1 au jour2 mois2 année2'
        start_date_str = week_dates[0]
        end_date_str = week_dates[1]
    else:
        return False

    # Convertir les noms de mois en français en noms de mois en anglais
    for mois_fr, mois_en in mois_fr_en.items():
        start_date_str = start_date_str.replace(mois_fr, mois_en)
        end_date_str = end_date_str.replace(mois_fr, mois_en)

    # Convertir les dates en objets datetime
    start_date = datetime.strptime(start_date_str, '%d %B %Y').date()
    end_date = datetime.strptime(end_date_str, '%d %B %Y').date()

    # Vérifier si la semaine correspond à une période de vacances scolaires
    for vacance in vacances_scolaires:
        start_vacance = datetime.strptime(vacance[1], '%Y-%m-%d').date()
        end_vacance = datetime.strptime(vacance[2], '%Y-%m-%d').date()
        if start_vacance <= start_date <= end_vacance or start_vacance < end_date < end_vacance:
            #print(start_date, end_date, start_vacance, end_vacance)
            return True
    #print(start_date, end_date, start_vacance, end_vacance)
    return False

#df['vacances'] = df['Semaine'].apply(is_vacances)

In [1223]:
df['vacances'] = df['Semaine'].apply(is_vacances)

## Saison

In [1228]:
from datetime import datetime

def get_season(week):
    if not isinstance(week, str):
        return False

    # Extraire les dates de début et de fin de la semaine
    week_dates = week.split(" au ")
    if len(week_dates[0].split(' ')) == 2:
        # Cas où les dates sont de la forme 'jour1 mois1 au jour2 mois2 année'
        start_date_str = week_dates[0]
        end_date_components = week_dates[1].split(' ')  # Split the end date into components
        day, month, year = end_date_components  # Separate day, month, and year
        end_date_str = f"{day} {month} {year}"  # Join day, month, and year with spaces
        start_date_str += f" {year}" 
    elif len(week_dates[0].split(' ')) == 1 :
        # Cas où les dates sont de la forme 'jour1 au jour2 mois année'
        start_date_str = week_dates[0]
        end_date_components = week_dates[1].split(' ')  # Split the end date into components
        day, month, year = end_date_components  # Separate day, month, and year
        end_date_str = f"{day} {month} {year}"  # Join day, month, and year with spaces
        start_date_str += f" {month} {year}"  # Add the year to the start date
    elif len(week_dates[0].split(' ')) == 3:
        # Cas où les dates sont de la forme 'jour1 mois1 année1 au jour2 mois2 année2'
        start_date_str = week_dates[0]
        end_date_str = week_dates[1]
    else:
        return False

    # Convertir les noms de mois en français en noms de mois en anglais
    for mois_fr, mois_en in mois_fr_en.items():
        start_date_str = start_date_str.replace(mois_fr, mois_en)
        end_date_str = end_date_str.replace(mois_fr, mois_en)

    # Convertir les dates en objets datetime
    start_date = datetime.strptime(start_date_str, '%d %B %Y').date()
    end_date = datetime.strptime(end_date_str, '%d %B %Y').date()

    # Déterminer le mois de début et de fin
    start_month = start_date.month
    end_month = end_date.month

    # Déterminer la saison correspondante en fonction du mois
    if (3 <= start_month <= 5 and 3 <= end_month <= 5) or (end_month == 6 and end_date.day <= 3) or (end_month == 3 and end_date.day > 3) :
        season = "Printemps"
    elif (6 <= start_month <= 8 and 6 <= end_month <= 8) or (end_month == 9 and end_date.day <= 3) or (end_month == 6 and end_date.day > 3):
        season = "Été"
    elif 9 <= start_month <= 11 and 9 <= end_month <= 11 or (end_month == 12 and end_date.day <= 3) or (end_month == 9 and end_date.day > 3):
        season = "Automne"
    else:
        season = "Hiver"

    return season
    

dates = [
    "20 au 27 avril 2022",
    "28 septembre au 5 octobre 2022",
    "17 au 24 août 2022",
    "07 au 14 septembre 2022",
     "28 mai au 4 juin 2022",
     '24 au 31 mai 2023'
    
]

for date in dates:
    season = get_season(date)
    print(f"{date} correspond à la saison de {season}.")

20 au 27 avril 2022 correspond à la saison de Printemps.
28 septembre au 5 octobre 2022 correspond à la saison de Automne.
17 au 24 août 2022 correspond à la saison de Été.
07 au 14 septembre 2022 correspond à la saison de Automne.
28 mai au 4 juin 2022 correspond à la saison de Été.
24 au 31 mai 2023 correspond à la saison de Printemps.

In [1229]:
df['saison']= df['Semaine'].apply(get_season)

In [1230]:
df

,Unnamed: 0,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,duree,genre,...,prix,annee_production,Semaine,Entrées_1ère_semaine,actor_1_popularity,actor_2_popularity,actor_3_popularity,director_popularity,vacances,saison
0,0,L'Amour et les Forêts,Virginie Efira,Melvil Poupaud,Dominique Reymond,Valérie Donzelli,Diaphana Distribution,3.800000,105,Thriller,...,0,2023,24 au 31 mai 2023,220327,32.967,4.671,1.294,5.421,False,Printemps
1,1,Monsieur Constant,Jean-Claude Drouot,Cali,Danièle Evenou,Alan Simon,Babaika,2.300000,108,Comédie dramatique,...,0,2023,17 au 24 mai 2023,40,2.312,1.387,2.066,0.828,False,Printemps
2,2,Les Herbes sèches,Deniz Celiloğlu,Merve Dizdar,Musab Ekici,Nuri Bilge Ceylan,Memento Distribution,4.000000,197,Drame,...,5,2023,12 au 19 juillet 2023,32179,5.924,15.291,1.316,5.635,True,Été
3,3,Carmen,Paul Mescal,Melissa Barrera,Rossy de Palma,Benjamin Millepied,Pathé,2.500000,116,Drame,...,0,2023,14 au 21 juin 2023,24397,8.724,36.632,12.756,3.581,False,Été
4,4,Carry On Jatta 3,Gippy Grewal,Sonam Bajwa,Binnu Dhillon,Smeep Kang,Friday Entertainment,3.082899,140,Comédie,...,0,2023,28 juin au 5 juillet 2023,427,3.024,12.425,1.550,2.248,False,Été
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,8229,The Strange Affair of Uncle Harry,George Sanders,Geraldine Fitzgerald,Ella Raines,Robert Siodmak,Swashbuckler Films,3.600000,81,Drame,...,0,1945,03 au 10 novembre 2021,543,9.128,3.765,6.560,1.396,True,Automne
8230,8230,Le Fils unique,Chôko Iida,Shin'ichi Himori,Masao Hayama,Yasujirô Ozu,Carlotta Films,4.600000,87,Comédie dramatique,...,0,1936,19 au 26 juin 2013,3458,2.881,3.788,2.039,4.727,False,Été
8231,8231,La Maison de la mort,Boris Karloff,Melvyn Douglas,Charles Laughton,James Whale,Carlotta Films,2.900000,72,Epouvante-horreur,...,0,1932,25 septembre au 2 octobre 2019,911,7.142,3.723,7.058,1.400,False,Automne
8232,8232,The Lodger: A Story of the London Fog,Marie Ault,Arthur Chesney,Reginald Gardiner,Alfred Hitchcock,Carlotta Films,5.000000,79,Drame,...,0,1927,17 au 24 novembre 2010,615,0.657,1.710,2.063,12.204,False,Automne
8233,8233,Alice comedies 2,Virginia Davis,Margie Gay,Lois Hardwick,Walt Disney,Malavida Films,4.000000,40,Animation,...,0,1926,17 au 24 janvier 2018,2902,0.600,0.901,0.652,13.883,False,Hiver

## Note globale actor

In [1232]:
df['actors_popularity']= df['actor_1_popularity']+df['actor_2_popularity']+df['actor_3_popularity']

In [1233]:
# df.to_csv('data/allocine_model.csv')

In [1234]:
df

,Unnamed: 0,titre,acteur_1,acteur_2,acteur_3,réalisateur,distributeur,note_presse,duree,genre,...,annee_production,Semaine,Entrées_1ère_semaine,actor_1_popularity,actor_2_popularity,actor_3_popularity,director_popularity,vacances,saison,actors_popularity
0,0,L'Amour et les Forêts,Virginie Efira,Melvil Poupaud,Dominique Reymond,Valérie Donzelli,Diaphana Distribution,3.800000,105,Thriller,...,2023,24 au 31 mai 2023,220327,32.967,4.671,1.294,5.421,False,Printemps,38.932
1,1,Monsieur Constant,Jean-Claude Drouot,Cali,Danièle Evenou,Alan Simon,Babaika,2.300000,108,Comédie dramatique,...,2023,17 au 24 mai 2023,40,2.312,1.387,2.066,0.828,False,Printemps,5.765
2,2,Les Herbes sèches,Deniz Celiloğlu,Merve Dizdar,Musab Ekici,Nuri Bilge Ceylan,Memento Distribution,4.000000,197,Drame,...,2023,12 au 19 juillet 2023,32179,5.924,15.291,1.316,5.635,True,Été,22.531
3,3,Carmen,Paul Mescal,Melissa Barrera,Rossy de Palma,Benjamin Millepied,Pathé,2.500000,116,Drame,...,2023,14 au 21 juin 2023,24397,8.724,36.632,12.756,3.581,False,Été,58.112
4,4,Carry On Jatta 3,Gippy Grewal,Sonam Bajwa,Binnu Dhillon,Smeep Kang,Friday Entertainment,3.082899,140,Comédie,...,2023,28 juin au 5 juillet 2023,427,3.024,12.425,1.550,2.248,False,Été,16.999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,8229,The Strange Affair of Uncle Harry,George Sanders,Geraldine Fitzgerald,Ella Raines,Robert Siodmak,Swashbuckler Films,3.600000,81,Drame,...,1945,03 au 10 novembre 2021,543,9.128,3.765,6.560,1.396,True,Automne,19.453
8230,8230,Le Fils unique,Chôko Iida,Shin'ichi Himori,Masao Hayama,Yasujirô Ozu,Carlotta Films,4.600000,87,Comédie dramatique,...,1936,19 au 26 juin 2013,3458,2.881,3.788,2.039,4.727,False,Été,8.708
8231,8231,La Maison de la mort,Boris Karloff,Melvyn Douglas,Charles Laughton,James Whale,Carlotta Films,2.900000,72,Epouvante-horreur,...,1932,25 septembre au 2 octobre 2019,911,7.142,3.723,7.058,1.400,False,Automne,17.923
8232,8232,The Lodger: A Story of the London Fog,Marie Ault,Arthur Chesney,Reginald Gardiner,Alfred Hitchcock,Carlotta Films,5.000000,79,Drame,...,1927,17 au 24 novembre 2010,615,0.657,1.710,2.063,12.204,False,Automne,4.430
8233,8233,Alice comedies 2,Virginia Davis,Margie Gay,Lois Hardwick,Walt Disney,Malavida Films,4.000000,40,Animation,...,1926,17 au 24 janvier 2018,2902,0.600,0.901,0.652,13.883,False,Hiver,2.153