In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import folium   
# from branca.element import Figure    
import plotly.express as px
# import nbformat

df = pd.read_csv("data/gold.data.csv")

In [2]:
df

,Titre,sortie_france,Entrée_totales,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,Année,Entrées_1ere_semaine
0,en pleine tempête,9 août 2000,1403086.0,George Clooney,Mark Wahlberg,Diane Lane,129.0,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne,2000,547204.0
1,escrocs mais pas trop,6 décembre 2000,1038868.0,Woody Allen,Hugh Grant,Tracey Ullman,94.0,Woody Allen,Comédie,Policier,Comédie,6.5,NaN,NaN,États-Unis,2000,405159.0
2,le prince du pacifique,20 décembre 2000,1028773.0,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,90.0,Alain Corneau,Aventure,Comédie,Aventure,3.9,NaN,NaN,Espagne,2000,401221.0
3,billy elliot,20 décembre 2000,2514645.0,Jamie Bell,Julie Walters,Jamie Draven,110.0,Stephen Daldry,Comédie,Drame,Comédie,7.3,Billy Elliot,NaN,Royaume-Uni,2000,980712.0
4,hollow man - l'homme sans ombre,20 septembre 2000,1512638.0,Elisabeth Shue,Kevin Bacon,Josh Brolin,112.0,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis,2000,589929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3983,mais vous êtes fous,24 avril 2019,101540.0,Pio Marmaï,Céline Sallette,Maxence Tual,95.0,Audrey Diwan,Drame,Drame,Drame,6.4,NaN,NaN,France,2019,56032.0
3984,"vous êtes jeunes, vous êtes beaux",2 octobre 2019,4986.0,Gérard Darmon,Josiane Balasko,Vincent Winterhalter,95.0,Franchin Don,Drame,Drame,Drame,5.6,NaN,NaN,France,2019,75588.0
3985,salauds de pauvres,NaN,50.0,Arielle Dombasle,Agnès Akopian,Christophe Alévêque,0.0,Christophe Alévêque,Comédie,Comédie,Comédie,NaN,NaN,NaN,France,2019,72460.0
3986,perdrix,14 août 2019,143672.0,Swann Arlaud,Maud Wyler,Fanny Ardant,99.0,Erwan Le Duc,Comédie,Comédie,Comédie,6.6,NaN,NaN,France,2019,59482.0
3987,la vérité si je mens ! les débuts,16 octobre 2019,193815.0,Yohan Manca,Mickael Lumière,Anton Csazar,110.0,Gérard Bitton,Comédie,Comédie,Comédie,4.3,La Vérité si je mens !,NaN,France,2019,127768.0

In [3]:
df = df.rename(columns={'Entrée_totales': 'box_office', 'Entrées_1ere_semaine': '1ere_semaine'})

In [4]:
cols = df.columns.tolist()
cols.insert(cols.index('box_office') + 1, cols.pop(cols.index('1ere_semaine')))
df = df[cols]

In [5]:
df[['box_office', 'duree', '1ere_semaine']] = df[['box_office', 'duree', '1ere_semaine']].fillna(0).astype(int)

In [6]:

import pandas as pd
import locale

# Définir la locale en français
locale.setlocale(locale.LC_TIME, 'fr_FR')

# Supposons que votre colonne "sortie_france" est actuellement de type 'object' (chaîne de caractères)
# Si ce n'est pas le cas, vous pouvez ignorer cette ligne et passer directement à la suivante.
df['sortie_france'] = pd.to_datetime(df['sortie_france'], format='%d %B %Y', errors='coerce')

# Maintenant, convertissons la colonne en format '28-05-2014'
df['sortie_france'] = df['sortie_france'].dt.strftime('%d-%m-%Y')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3988 entries, 0 to 3987
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Titre          3988 non-null   object
 1   sortie_france  3956 non-null   object
 2   box_office     3988 non-null   int32
 3   1ere_semaine   3988 non-null   int32
 4   acteur_1       3917 non-null   object
 5   acteur_2       3879 non-null   object
 6   acteur_3       3845 non-null   object
 7   duree          3988 non-null   int32
 8   realisateur    3986 non-null   object
 9   genre_1        3883 non-null   object
 10  genre_2        3883 non-null   object
 11  genre_3        3883 non-null   object
 12  note_film      3865 non-null   float64
 13  franchise_1    1631 non-null   object
 14  franchise_2    214 non-null    object
 15  pays           3880 non-null   object
 16  Année          3988 non-null   int64
dtypes: float64(1), int32(3), int64(1), object(12)
memory usage: 483.0+ KB

In [21]:
from datetime import datetime

vacances_scolaires = []

for year in range(2000, 2023):
    vacances_scolaires.append(("Vacances de la Toussaint", f"{year}-10-22", f"{year}-11-03"))
    vacances_scolaires.append(("Vacances de Noël", f"{year}-12-17", f"{year+1}-01-02"))
    vacances_scolaires.append(("Vacances d'hiver", f"{year+1}-02-11", f"{year+1}-02-27"))
    vacances_scolaires.append(("Vacances de printemps", f"{year+1}-04-08", f"{year+1}-04-24"))
    vacances_scolaires.append(("Grandes vacances", f"{year+1}-07-07", f"{year+1}-09-01"))

def is_vacances(date):
    if not isinstance(date, str):
        return False
    date = datetime.strptime(date, '%d-%m-%Y').date()
    for vacance in vacances_scolaires:
        start = datetime.strptime(vacance[1], '%Y-%m-%d').date()
        end = datetime.strptime(vacance[2], '%Y-%m-%d').date()
        if start <= date <= end:
            return True
    return False

df['vacances'] = df['sortie_france'].apply(is_vacances)

In [ ]:
df.to_csv("data/gold_2.csv" , index=False)