In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import folium   
# from branca.element import Figure    
# import plotly.express as px
# import nbformat
# lire le fichier CSV dans un DataFrame pandas
df_max = pd.read_csv("senscritique.csv")
df_box_office = pd.read_csv("senscritique_box_office.csv")

In [2]:
df_box_office.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21120 entries, 0 to 21119
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   titre   4546 non-null   object
 1   entree  4546 non-null   object
dtypes: object(2)
memory usage: 330.1+ KB

In [3]:
# Compter le nombre de lignes avec des valeurs nulles
null_count = df_box_office.isnull().any(axis=1).sum()

# Compter le nombre de lignes avec des valeurs non nulles
not_null_count = df_box_office.notnull().all(axis=1).sum()

# Afficher les résultats
print(f"Nombre de lignes avec des valeurs nulles: {null_count}")
print(f"Nombre de lignes avec des valeurs non nulles: {not_null_count}")

Nombre de lignes avec des valeurs nulles: 16574
Nombre de lignes avec des valeurs non nulles: 4546

In [4]:
# Supprimer les lignes avec des valeurs nulles
df_box_office = df_box_office.dropna()

# Afficher les premières lignes du DataFrame résultant
df_box_office

                                              titre             entree
190                        En pleine tempête (2000)  1 403 086 entrées
191                  Meilleur espoir féminin (2000)  1 184 971 entrées
192                       Dancer in the Dark (2000)  1 166 150 entrées
193    The Patriot : Le Chemin de la liberté (2000)  1 160 975 entrées
194                     In the Mood for Love (2000)  1 096 985 entrées
...                                             ...                ...
20832                  À cause des filles… ? (2019)             18 327
20833                             Les Fauves (2019)             15 354
20834                           L'Angle mort (2019)             10 835
20835                     Une jeunesse dorée (2019)             10 452
20846                             Le Bel été (2019)              4 999

[4546 rows x 2 columns]

In [5]:
# Extraire les années entre parenthèses dans la colonne "titre"
df_box_office["annee"] = df_box_office["titre"].str.extract(r"\((\d{4})\)")

# Afficher les premières lignes du DataFrame résultant
print(df_box_office.head())

                                            titre             entree annee
190                      En pleine tempête (2000)  1 403 086 entrées  2000
191                Meilleur espoir féminin (2000)  1 184 971 entrées  2000
192                     Dancer in the Dark (2000)  1 166 150 entrées  2000
193  The Patriot : Le Chemin de la liberté (2000)  1 160 975 entrées  2000
194                   In the Mood for Love (2000)  1 096 985 entrées  2000

In [6]:
# Supprimer les années entre parenthèses dans la colonne "titre"
df_box_office["titre"] = df_box_office["titre"].str.replace(r"\s*\(\d{4}\)", "", regex=True)

# Afficher les premières lignes du DataFrame résultant
print(df_box_office.head())

                                     titre             entree annee
190                      En pleine tempête  1 403 086 entrées  2000
191                Meilleur espoir féminin  1 184 971 entrées  2000
192                     Dancer in the Dark  1 166 150 entrées  2000
193  The Patriot : Le Chemin de la liberté  1 160 975 entrées  2000
194                   In the Mood for Love  1 096 985 entrées  2000

In [7]:
# Supprimer les mots "entrées" et "entrées (en cours)" dans la colonne "entree"
df_box_office["entree"] = df_box_office["entree"].str.replace(r"\s*entrées\s*(\(en cours\))?", "", regex=True)

# Afficher les premières lignes du DataFrame résultant
print(df_box_office.head())

                                     titre     entree annee
190                      En pleine tempête  1 403 086  2000
191                Meilleur espoir féminin  1 184 971  2000
192                     Dancer in the Dark  1 166 150  2000
193  The Patriot : Le Chemin de la liberté  1 160 975  2000
194                   In the Mood for Love  1 096 985  2000

In [8]:
# Vérifier s'il y a des titres en double dans la colonne "titre"
duplicates = df_box_office.duplicated(subset="titre", keep=False)

# Compter le nombre de titres en double
duplicate_count = duplicates.sum()

# Afficher le nombre de titres en double
print(f"Nombre de titres en double: {duplicate_count}")

# Afficher les titres en double et leurs entrées correspondantes
print(df_box_office.loc[duplicates, ["titre", "entree","annee"]])

Nombre de titres en double: 1148
                         titre      entree annee
191    Meilleur espoir féminin   1 184 971  2000
208     Le Prince du Pacifique   1 028 773  2000
292                     Taxi 2  10 349 454  2000
332         Le Goût des autres   3 859 151  2000
360      Les Rivières pourpres   3 255 184  2000
...                        ...         ...   ...
20665            Chanson douce     217 224  2019
20666                  Lourdes     216 917  2019
20667                    Fahim     216 724  2019
20668                  Le Daim     213 649  2019
20746                  Frankie      66 775  2019

[1148 rows x 3 columns]

In [9]:
# Modifier les titres en double dans df_box_office
df_box_office.loc[(df_box_office["titre"] == "Les 4 Fantastiques") & (df_box_office["annee"] == "2015"), "titre"] = "Les 4 Fantastiques reboot"
df_box_office.loc[(df_box_office["titre"] == "Coco") & (df_box_office["annee"] == "2017"), "titre"] = "Coco disney"
df_box_office.loc[df_box_office["titre"] == "Robin des Bois", "titre"] = df_box_office["titre"] + " - " + df_box_office["annee"]
df_box_office.loc[df_box_office["titre"] == "La Belle et la Bête", "titre"] = df_box_office["titre"] + " - " + df_box_office["annee"]
df_box_office.loc[(df_box_office["titre"] == "Avatar") & (df_box_office["entree"] == "564 979"), "titre"] = "Avatar (nouvelle projection)"

In [10]:
# Sélectionner les lignes contenant l'un des mots spécifiés dans la colonne "titre"
selected_rows = df_box_office[df_box_office["titre"].str.contains(r"Les 4 Fantastiques|Coco|Robin des Bois|La Belle et la Bête|avatar")]

# Afficher les lignes sélectionnées
print(selected_rows)

                                          titre     entree annee
2617                         Les 4 Fantastiques  2 223 838  2005
3483   Les 4 Fantastiques et le Surfer d'Argent  1 671 715  2007
4330                                       Coco  3 008 677  2009
4436                          Coco avant Chanel  1 030 096  2009
4944                      Robin des Bois - 2010  2 385 387  2010
6842                 La Belle et la Bête - 2014  1 827 336  2014
7387     Robin des Bois : La Véritable Histoire    521 000  2015
7435                  Les 4 Fantastiques reboot  1 204 000  2015
8453                                Coco disney  4 366 449  2017
8467                 La Belle et la Bête - 2017  3 566 931  2017
8877                      Robin des Bois - 2018    363 926  2018
15907                                      Coco  3 008 677  2009
15922                         Coco avant Chanel  1 030 096  2009
16231            Coco Chanel et Igor Stravinsky    132 159  2009
18282                La Belle et la Bête - 2014  1 828 630  2014
18787    Robin des Bois : La Véritable Histoire    525 046  2015

In [11]:
df_box_office = df_box_office[df_box_office['titre'] != 'Avatar (nouvelle projection)']

In [12]:
# Compter le nombre de lignes avec des valeurs nulles
null_count = df_box_office.isnull().any(axis=1).sum()

# Compter le nombre de lignes avec des valeurs non nulles
not_null_count = df_box_office.notnull().all(axis=1).sum()

# Afficher les résultats
print(f"Nombre de lignes avec des valeurs nulles: {null_count}")
print(f"Nombre de lignes avec des valeurs non nulles: {not_null_count}")

Nombre de lignes avec des valeurs nulles: 2
Nombre de lignes avec des valeurs non nulles: 4543

In [13]:
print(df_box_office['entree'].dtypes)

object

In [14]:
df_box_office['entree'] = df_box_office['entree'].astype(str)

C:\Users\impej\AppData\Local\Temp\ipykernel_19796\2448748212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_box_office['entree'] = df_box_office['entree'].astype(str)

In [15]:

print(df_box_office['entree'].dtypes)

object

In [16]:
import pandas as pd

# Convertir la colonne "entree" en type chaîne de caractères
df_box_office['entree'] = df_box_office['entree'].astype(str)

# Remplacer tout ce qui n'est pas un chiffre ou un espace par une chaîne vide
df_box_office['entree'] = df_box_office['entree'].str.replace(r'[^0-9\s]', '', regex=True)

# Supprimer les espaces en début et en fin de chaîne
df_box_office['entree'] = df_box_office['entree'].str.strip()

# Remplacer les espaces par des chaînes vides
df_box_office['entree'] = df_box_office['entree'].str.replace(' ', '')

# Convertir la colonne "entree" en type numérique
df_box_office['entree'] = pd.to_numeric(df_box_office['entree'], errors='coerce')

C:\Users\impej\AppData\Local\Temp\ipykernel_19796\3864802454.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_box_office['entree'] = df_box_office['entree'].astype(str)
C:\Users\impej\AppData\Local\Temp\ipykernel_19796\3864802454.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_box_office['entree'] = df_box_office['entree'].str.replace(r'[^0-9\s]', '', regex=True)
C:\Users\impej\AppData\Local\Temp\ipykernel_19796\3864802454.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_box_office['entree'] = df_box_office['entree'].str.strip()
C:\Users\impej\AppData\Local\Temp\ipykernel_19796\3864802454.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_box_office['entree'] = df_box_office['entree'].str.replace(' ', '')
C:\Users\impej\AppData\Local\Temp\ipykernel_19796\3864802454.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_box_office['entree'] = pd.to_numeric(df_box_office['entree'], errors='coerce')

In [17]:
# Convertir toutes les valeurs de la colonne "titre" en minuscules
df_box_office['titre'] = df_box_office['titre'].str.lower()

C:\Users\impej\AppData\Local\Temp\ipykernel_19796\2188188964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_box_office['titre'] = df_box_office['titre'].str.lower()

In [18]:
# Suppression des doublons en fonction des colonnes 'titre' et 'annee'
df_box_office = df_box_office.drop_duplicates(subset=['titre', 'annee'])

# Affichage des premières lignes du DataFrame résultant
df_box_office.head()

                                     titre     entree annee
190                      en pleine tempête  1403086.0  2000
191                meilleur espoir féminin  1184971.0  2000
192                     dancer in the dark  1166150.0  2000
193  the patriot : le chemin de la liberté  1160975.0  2000
194                   in the mood for love  1096985.0  2000

In [150]:
df_box_office.to_csv("data/silver_senscritique_box_office.csv" , index=False)