In [255]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import folium   
# from branca.element import Figure    
# import plotly.express as px
# import nbformat
# lire le fichier CSV dans un DataFrame pandas
df_max = pd.read_csv("senscritique.csv")

In [256]:
df_max.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3986 entries, 0 to 3985
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titre        3986 non-null   object
 1   annee_1      3984 non-null   object
 2   annee_2      765 non-null    float64
 3   acteur_1     3915 non-null   object
 4   acteur_2     3879 non-null   object
 5   acteur_3     3844 non-null   object
 6   duree_1      3965 non-null   object
 7   duree_2      3985 non-null   object
 8   duree_3      415 non-null    object
 9   sortie_1     3965 non-null   object
 10  sortie_2     3985 non-null   object
 11  sortie_3     415 non-null    object
 12  sortie_4     64 non-null     object
 13  realisateur  3984 non-null   object
 14  pays_1       1623 non-null   object
 15  pays_2       2252 non-null   object
 16  genre_1      3878 non-null   object
 17  genre_2      1947 non-null   object
 18  genre_3      1027 non-null   object
 19  note_film    3863 non-null   float64
 20  franchise_1  1631 non-null   object
 21  franchise_2  213 non-null    object
dtypes: float64(2), object(20)
memory usage: 685.2+ KB

In [257]:
df_max

,titre,annee_1,annee_2,acteur_1,acteur_2,acteur_3,duree_1,duree_2,duree_3,sortie_1,...,sortie_4,realisateur,pays_1,pays_2,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2
0,En pleine tempête,The Perfect Storm,2000.0,George Clooney,Mark Wahlberg,Diane Lane,· 9 août 2000 (France),· 2 h 09 min,NaN,· 9 août 2000 (France),...,NaN,Wolfgang Petersen,NaN,Allemagne,Drame,Action,Catastrophe,5.7,NaN,NaN
1,Escrocs mais pas trop,Small Time Crooks,2000.0,Woody Allen,Hugh Grant,Tracey Ullman,· 6 décembre 2000 (France),· 1 h 34 min,NaN,· 6 décembre 2000 (France),...,NaN,Woody Allen,NaN,États-Unis,Comédie,Policier,NaN,6.5,NaN,NaN
2,Le Prince du Pacifique,2000,NaN,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 20 décembre 2000 (France),· 1 h 30 min,NaN,· 20 décembre 2000 (France),...,NaN,Alain Corneau,NaN,Espagne,Aventure,Comédie,NaN,3.9,NaN,NaN
3,Billy Elliot,2000,NaN,Jamie Bell,Julie Walters,Jamie Draven,· 20 décembre 2000 (France),· 1 h 50 min,NaN,· 20 décembre 2000 (France),...,NaN,Stephen Daldry,Royaume-Uni,NaN,Comédie,Drame,NaN,7.3,Billy Elliot,NaN
4,Hollow Man - L'Homme sans ombre,Hollow Man,2000.0,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 20 septembre 2000 (France),· 1 h 52 min,NaN,· 20 septembre 2000 (France),...,NaN,Paul Verhoeven,États-Unis,NaN,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Nevada,The Mustang,2019.0,Matthias Schoenaerts,Jason Mitchell,Bruce Dern,· 19 juin 2019 (France),· 1 h 36 min,NaN,· 19 juin 2019 (France),...,NaN,Laure de Clermont-Tonnerre,NaN,France,Drame,NaN,NaN,6.7,NaN,NaN
3982,"Black Snake, la légende du serpent noir",2019,NaN,Thomas N'Gijol,Karole Rocher,Michel Gohou,· 1 h 22 min,et,· 20 février 2019 (France),· 1 h 22 min,...,NaN,Thomas N'Gijol,NaN,France,Comédie,NaN,NaN,4.5,NaN,NaN
3983,Perdrix,2019,NaN,Swann Arlaud,Maud Wyler,Fanny Ardant,· 14 août 2019 (France),· 1 h 39 min,NaN,· 14 août 2019 (France),...,NaN,Erwan Le Duc,NaN,France,Comédie,NaN,NaN,6.6,NaN,NaN
3984,La Vérité si je mens ! Les débuts,2019,NaN,Yohan Manca,Mickael Lumière,Anton Csazar,· 1 h 50 min,et,· 16 octobre 2019 (France),· 1 h 50 min,...,NaN,Gérard Bitton,France,NaN,Comédie,NaN,NaN,4.3,La Vérité si je mens !,NaN
3985,J’veux du soleil,2019,NaN,François Ruffin,Jean-Michel Aphatie,Christophe Barbier,· 1 h 20 min,et,· 3 avril 2019 (France),· 1 h 20 min,...,NaN,François Ruffin,NaN,NaN,NaN,NaN,NaN,6.8,NaN,NaN

In [258]:
# Remplacer les valeurs NaN dans la colonne "annee_1" par 2021   FAIT POUR 1 FILM LA RUSE 
df_max["annee_1"] = df_max["annee_1"].fillna(2021)

In [259]:
# Sélectionner les lignes où la colonne "annee_1" contient des nombres entiers
mask = df_max["annee_1"].astype(str).str.contains(r"^\d+$").fillna(False)

# Copier les valeurs de la colonne "annee_1" dans la colonne "annee_2" pour les lignes sélectionnées
df_max.loc[mask, "annee_2"] = df_max.loc[mask, "annee_1"]

# Afficher les premières lignes du DataFrame résultant
df_max.head()

,titre,annee_1,annee_2,acteur_1,acteur_2,acteur_3,duree_1,duree_2,duree_3,sortie_1,...,sortie_4,realisateur,pays_1,pays_2,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2
0,En pleine tempête,The Perfect Storm,2000.0,George Clooney,Mark Wahlberg,Diane Lane,· 9 août 2000 (France),· 2 h 09 min,NaN,· 9 août 2000 (France),...,NaN,Wolfgang Petersen,NaN,Allemagne,Drame,Action,Catastrophe,5.7,NaN,NaN
1,Escrocs mais pas trop,Small Time Crooks,2000.0,Woody Allen,Hugh Grant,Tracey Ullman,· 6 décembre 2000 (France),· 1 h 34 min,NaN,· 6 décembre 2000 (France),...,NaN,Woody Allen,NaN,États-Unis,Comédie,Policier,NaN,6.5,NaN,NaN
2,Le Prince du Pacifique,2000,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 20 décembre 2000 (France),· 1 h 30 min,NaN,· 20 décembre 2000 (France),...,NaN,Alain Corneau,NaN,Espagne,Aventure,Comédie,NaN,3.9,NaN,NaN
3,Billy Elliot,2000,2000,Jamie Bell,Julie Walters,Jamie Draven,· 20 décembre 2000 (France),· 1 h 50 min,NaN,· 20 décembre 2000 (France),...,NaN,Stephen Daldry,Royaume-Uni,NaN,Comédie,Drame,NaN,7.3,Billy Elliot,NaN
4,Hollow Man - L'Homme sans ombre,Hollow Man,2000.0,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 20 septembre 2000 (France),· 1 h 52 min,NaN,· 20 septembre 2000 (France),...,NaN,Paul Verhoeven,États-Unis,NaN,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN

In [286]:
# Sélectionner les lignes où la colonne "annee_2" contient la valeur "102 Dalmatians"
selected_rows = df_max.loc[df_max["titre"] == "maléfique"]

# Afficher les lignes sélectionnées
selected_rows

,titre,annee,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,sortie_france
691,maléfique,2014,Angelina Jolie,Elle Fanning,Sharlto Copley,98.0,Robert Stromberg,Action,Aventure,Fantasy,5.7,La Belle au bois dormant,NaN,États-Unis,28 mai 2014
2088,maléfique,2003,Clovis Cornillac,Dimitri Rataud,Philippe Laudenbach,90.0,Eric Valette,Fantastique,Épouvante-Horreur,Fantastique,6.1,NaN,NaN,France,7 mai 2003

In [261]:
# Remplacer les valeurs NaN par une valeur par défaut (par exemple 2000)
df_max["annee_2"] = df_max["annee_2"].fillna(2000)

# Convertir les valeurs de la colonne "annee_2" en nombres entiers
df_max["annee_2"] = df_max["annee_2"].astype(int)

# Afficher les premières lignes du DataFrame résultant
df_max.head()

,titre,annee_1,annee_2,acteur_1,acteur_2,acteur_3,duree_1,duree_2,duree_3,sortie_1,...,sortie_4,realisateur,pays_1,pays_2,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2
0,En pleine tempête,The Perfect Storm,2000,George Clooney,Mark Wahlberg,Diane Lane,· 9 août 2000 (France),· 2 h 09 min,NaN,· 9 août 2000 (France),...,NaN,Wolfgang Petersen,NaN,Allemagne,Drame,Action,Catastrophe,5.7,NaN,NaN
1,Escrocs mais pas trop,Small Time Crooks,2000,Woody Allen,Hugh Grant,Tracey Ullman,· 6 décembre 2000 (France),· 1 h 34 min,NaN,· 6 décembre 2000 (France),...,NaN,Woody Allen,NaN,États-Unis,Comédie,Policier,NaN,6.5,NaN,NaN
2,Le Prince du Pacifique,2000,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 20 décembre 2000 (France),· 1 h 30 min,NaN,· 20 décembre 2000 (France),...,NaN,Alain Corneau,NaN,Espagne,Aventure,Comédie,NaN,3.9,NaN,NaN
3,Billy Elliot,2000,2000,Jamie Bell,Julie Walters,Jamie Draven,· 20 décembre 2000 (France),· 1 h 50 min,NaN,· 20 décembre 2000 (France),...,NaN,Stephen Daldry,Royaume-Uni,NaN,Comédie,Drame,NaN,7.3,Billy Elliot,NaN
4,Hollow Man - L'Homme sans ombre,Hollow Man,2000,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 20 septembre 2000 (France),· 1 h 52 min,NaN,· 20 septembre 2000 (France),...,NaN,Paul Verhoeven,États-Unis,NaN,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN

In [262]:
# Convertir les valeurs de la colonne "annee_1" en nombres entiers
df_max["annee_2"] = df_max["annee_2"].astype(int)

# Afficher les premières lignes du DataFrame résultant
df_max.head()

,titre,annee_1,annee_2,acteur_1,acteur_2,acteur_3,duree_1,duree_2,duree_3,sortie_1,...,sortie_4,realisateur,pays_1,pays_2,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2
0,En pleine tempête,The Perfect Storm,2000,George Clooney,Mark Wahlberg,Diane Lane,· 9 août 2000 (France),· 2 h 09 min,NaN,· 9 août 2000 (France),...,NaN,Wolfgang Petersen,NaN,Allemagne,Drame,Action,Catastrophe,5.7,NaN,NaN
1,Escrocs mais pas trop,Small Time Crooks,2000,Woody Allen,Hugh Grant,Tracey Ullman,· 6 décembre 2000 (France),· 1 h 34 min,NaN,· 6 décembre 2000 (France),...,NaN,Woody Allen,NaN,États-Unis,Comédie,Policier,NaN,6.5,NaN,NaN
2,Le Prince du Pacifique,2000,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 20 décembre 2000 (France),· 1 h 30 min,NaN,· 20 décembre 2000 (France),...,NaN,Alain Corneau,NaN,Espagne,Aventure,Comédie,NaN,3.9,NaN,NaN
3,Billy Elliot,2000,2000,Jamie Bell,Julie Walters,Jamie Draven,· 20 décembre 2000 (France),· 1 h 50 min,NaN,· 20 décembre 2000 (France),...,NaN,Stephen Daldry,Royaume-Uni,NaN,Comédie,Drame,NaN,7.3,Billy Elliot,NaN
4,Hollow Man - L'Homme sans ombre,Hollow Man,2000,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 20 septembre 2000 (France),· 1 h 52 min,NaN,· 20 septembre 2000 (France),...,NaN,Paul Verhoeven,États-Unis,NaN,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN

In [263]:
# Supprimer la colonne "annee_1"
df_max = df_max.drop("annee_1", axis=1)

# Renommer la colonne "annee_2" en "annee"
df_max = df_max.rename(columns={"annee_2": "annee"})

# Afficher les premières lignes du DataFrame résultant
df_max.head()

,titre,annee,acteur_1,acteur_2,acteur_3,duree_1,duree_2,duree_3,sortie_1,sortie_2,...,sortie_4,realisateur,pays_1,pays_2,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2
0,En pleine tempête,2000,George Clooney,Mark Wahlberg,Diane Lane,· 9 août 2000 (France),· 2 h 09 min,NaN,· 9 août 2000 (France),· 2 h 09 min,...,NaN,Wolfgang Petersen,NaN,Allemagne,Drame,Action,Catastrophe,5.7,NaN,NaN
1,Escrocs mais pas trop,2000,Woody Allen,Hugh Grant,Tracey Ullman,· 6 décembre 2000 (France),· 1 h 34 min,NaN,· 6 décembre 2000 (France),· 1 h 34 min,...,NaN,Woody Allen,NaN,États-Unis,Comédie,Policier,NaN,6.5,NaN,NaN
2,Le Prince du Pacifique,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 20 décembre 2000 (France),· 1 h 30 min,NaN,· 20 décembre 2000 (France),· 1 h 30 min,...,NaN,Alain Corneau,NaN,Espagne,Aventure,Comédie,NaN,3.9,NaN,NaN
3,Billy Elliot,2000,Jamie Bell,Julie Walters,Jamie Draven,· 20 décembre 2000 (France),· 1 h 50 min,NaN,· 20 décembre 2000 (France),· 1 h 50 min,...,NaN,Stephen Daldry,Royaume-Uni,NaN,Comédie,Drame,NaN,7.3,Billy Elliot,NaN
4,Hollow Man - L'Homme sans ombre,2000,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 20 septembre 2000 (France),· 1 h 52 min,NaN,· 20 septembre 2000 (France),· 1 h 52 min,...,NaN,Paul Verhoeven,États-Unis,NaN,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN

In [264]:
# # Sélectionner les lignes où la colonne "acteur_1" contient des valeurs NaN
# selected_rows = df_max[df_max["pays"].isna()]

# # Afficher les lignes sélectionnées
# selected_rows

In [265]:
# Sélectionner les lignes où la colonne "duree_1" contient une durée au format "X h Y min"
mask1 = df_max["duree_1"].str.contains(r"\d+ h \d+ min").fillna(False)

# Copier les valeurs de la colonne "duree_1" dans la colonne "duree_3" pour les lignes sélectionnées
df_max.loc[mask1, "duree_3"] = df_max.loc[mask1, "duree_1"]

# Sélectionner les lignes où la colonne "duree_2" contient une durée au format "X h Y min"
mask2 = df_max["duree_2"].str.contains(r"\d+ h \d+ min").fillna(False)

# Copier les valeurs de la colonne "duree_2" dans la colonne "duree_3" pour les lignes sélectionnées
df_max.loc[mask2, "duree_3"] = df_max.loc[mask2, "duree_2"]

# Afficher les premières lignes du DataFrame résultant
df_max

,titre,annee,acteur_1,acteur_2,acteur_3,duree_1,duree_2,duree_3,sortie_1,sortie_2,...,sortie_4,realisateur,pays_1,pays_2,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2
0,En pleine tempête,2000,George Clooney,Mark Wahlberg,Diane Lane,· 9 août 2000 (France),· 2 h 09 min,· 2 h 09 min,· 9 août 2000 (France),· 2 h 09 min,...,NaN,Wolfgang Petersen,NaN,Allemagne,Drame,Action,Catastrophe,5.7,NaN,NaN
1,Escrocs mais pas trop,2000,Woody Allen,Hugh Grant,Tracey Ullman,· 6 décembre 2000 (France),· 1 h 34 min,· 1 h 34 min,· 6 décembre 2000 (France),· 1 h 34 min,...,NaN,Woody Allen,NaN,États-Unis,Comédie,Policier,NaN,6.5,NaN,NaN
2,Le Prince du Pacifique,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 20 décembre 2000 (France),· 1 h 30 min,· 1 h 30 min,· 20 décembre 2000 (France),· 1 h 30 min,...,NaN,Alain Corneau,NaN,Espagne,Aventure,Comédie,NaN,3.9,NaN,NaN
3,Billy Elliot,2000,Jamie Bell,Julie Walters,Jamie Draven,· 20 décembre 2000 (France),· 1 h 50 min,· 1 h 50 min,· 20 décembre 2000 (France),· 1 h 50 min,...,NaN,Stephen Daldry,Royaume-Uni,NaN,Comédie,Drame,NaN,7.3,Billy Elliot,NaN
4,Hollow Man - L'Homme sans ombre,2000,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 20 septembre 2000 (France),· 1 h 52 min,· 1 h 52 min,· 20 septembre 2000 (France),· 1 h 52 min,...,NaN,Paul Verhoeven,États-Unis,NaN,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Nevada,2019,Matthias Schoenaerts,Jason Mitchell,Bruce Dern,· 19 juin 2019 (France),· 1 h 36 min,· 1 h 36 min,· 19 juin 2019 (France),· 1 h 36 min,...,NaN,Laure de Clermont-Tonnerre,NaN,France,Drame,NaN,NaN,6.7,NaN,NaN
3982,"Black Snake, la légende du serpent noir",2019,Thomas N'Gijol,Karole Rocher,Michel Gohou,· 1 h 22 min,et,· 1 h 22 min,· 1 h 22 min,et,...,NaN,Thomas N'Gijol,NaN,France,Comédie,NaN,NaN,4.5,NaN,NaN
3983,Perdrix,2019,Swann Arlaud,Maud Wyler,Fanny Ardant,· 14 août 2019 (France),· 1 h 39 min,· 1 h 39 min,· 14 août 2019 (France),· 1 h 39 min,...,NaN,Erwan Le Duc,NaN,France,Comédie,NaN,NaN,6.6,NaN,NaN
3984,La Vérité si je mens ! Les débuts,2019,Yohan Manca,Mickael Lumière,Anton Csazar,· 1 h 50 min,et,· 1 h 50 min,· 1 h 50 min,et,...,NaN,Gérard Bitton,France,NaN,Comédie,NaN,NaN,4.3,La Vérité si je mens !,NaN
3985,J’veux du soleil,2019,François Ruffin,Jean-Michel Aphatie,Christophe Barbier,· 1 h 20 min,et,· 1 h 20 min,· 1 h 20 min,et,...,NaN,François Ruffin,NaN,NaN,NaN,NaN,NaN,6.8,NaN,NaN

In [266]:
# Sélectionner les lignes où la colonne "duree_2" contient une durée au format "X h" ou "Y min"
mask = df_max["duree_2"].str.contains(r"\d+ h|\d+ min").fillna(False)

# Copier les valeurs de la colonne "duree_2" dans la colonne "duree_3" pour les lignes sélectionnées
df_max.loc[mask, "duree_3"] = df_max.loc[mask, "duree_2"]

# Afficher les premières lignes du DataFrame résultant
df_max.head()

,titre,annee,acteur_1,acteur_2,acteur_3,duree_1,duree_2,duree_3,sortie_1,sortie_2,...,sortie_4,realisateur,pays_1,pays_2,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2
0,En pleine tempête,2000,George Clooney,Mark Wahlberg,Diane Lane,· 9 août 2000 (France),· 2 h 09 min,· 2 h 09 min,· 9 août 2000 (France),· 2 h 09 min,...,NaN,Wolfgang Petersen,NaN,Allemagne,Drame,Action,Catastrophe,5.7,NaN,NaN
1,Escrocs mais pas trop,2000,Woody Allen,Hugh Grant,Tracey Ullman,· 6 décembre 2000 (France),· 1 h 34 min,· 1 h 34 min,· 6 décembre 2000 (France),· 1 h 34 min,...,NaN,Woody Allen,NaN,États-Unis,Comédie,Policier,NaN,6.5,NaN,NaN
2,Le Prince du Pacifique,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 20 décembre 2000 (France),· 1 h 30 min,· 1 h 30 min,· 20 décembre 2000 (France),· 1 h 30 min,...,NaN,Alain Corneau,NaN,Espagne,Aventure,Comédie,NaN,3.9,NaN,NaN
3,Billy Elliot,2000,Jamie Bell,Julie Walters,Jamie Draven,· 20 décembre 2000 (France),· 1 h 50 min,· 1 h 50 min,· 20 décembre 2000 (France),· 1 h 50 min,...,NaN,Stephen Daldry,Royaume-Uni,NaN,Comédie,Drame,NaN,7.3,Billy Elliot,NaN
4,Hollow Man - L'Homme sans ombre,2000,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 20 septembre 2000 (France),· 1 h 52 min,· 1 h 52 min,· 20 septembre 2000 (France),· 1 h 52 min,...,NaN,Paul Verhoeven,États-Unis,NaN,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN

In [267]:
# Supprimer la colonne "annee_1"
df_max = df_max.drop("duree_1", axis=1)
df_max = df_max.drop("duree_2", axis=1)
# Renommer la colonne "annee_2" en "annee"
df_max = df_max.rename(columns={"duree_3": "duree"})

# Afficher les premières lignes du DataFrame résultant
df_max.head()

,titre,annee,acteur_1,acteur_2,acteur_3,duree,sortie_1,sortie_2,sortie_3,sortie_4,realisateur,pays_1,pays_2,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2
0,En pleine tempête,2000,George Clooney,Mark Wahlberg,Diane Lane,· 2 h 09 min,· 9 août 2000 (France),· 2 h 09 min,NaN,NaN,Wolfgang Petersen,NaN,Allemagne,Drame,Action,Catastrophe,5.7,NaN,NaN
1,Escrocs mais pas trop,2000,Woody Allen,Hugh Grant,Tracey Ullman,· 1 h 34 min,· 6 décembre 2000 (France),· 1 h 34 min,NaN,NaN,Woody Allen,NaN,États-Unis,Comédie,Policier,NaN,6.5,NaN,NaN
2,Le Prince du Pacifique,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 1 h 30 min,· 20 décembre 2000 (France),· 1 h 30 min,NaN,NaN,Alain Corneau,NaN,Espagne,Aventure,Comédie,NaN,3.9,NaN,NaN
3,Billy Elliot,2000,Jamie Bell,Julie Walters,Jamie Draven,· 1 h 50 min,· 20 décembre 2000 (France),· 1 h 50 min,NaN,NaN,Stephen Daldry,Royaume-Uni,NaN,Comédie,Drame,NaN,7.3,Billy Elliot,NaN
4,Hollow Man - L'Homme sans ombre,2000,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 1 h 52 min,· 20 septembre 2000 (France),· 1 h 52 min,NaN,NaN,Paul Verhoeven,États-Unis,NaN,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN

In [268]:
# Modifier la valeur de la colonne "duree" pour la ligne où la colonne "titre" contient la valeur "Vic le Viking"
df_max.loc[df_max["titre"] == "Vic le Viking", "duree"] = "1 h 17min"

# Modifier la valeur de la colonne "duree" pour la ligne où la colonne "titre" contient la valeur "One Piece Film: Red"
df_max.loc[df_max["titre"] == "One Piece Film: Red", "duree"] = "1 h 55min"

df_max.loc[df_max["titre"] == "Les Infidèles", "duree"] = "1 h 49 min"
df_max.loc[df_max["titre"] == "Vaiana - La légende du bout du monde", "duree"] = "1 h 47 min"
df_max.loc[df_max["titre"] == "Le Cristal magique", "duree"] = "1 h 21 min "
df_max.loc[df_max["titre"] == "Le Noël de petit lièvre brun", "duree"] = "43 min"
df_max.loc[df_max["titre"] == "La Famille Addams 2 - Une virée d'enfer", "duree"] = "1 h 33 min"

df_max.loc[df_max["titre"] == "Ernest et Célestine en hiver", "duree"] = "45 min"
df_max.loc[df_max["titre"] == "Drive My Car", "duree"] = "2 h 59 min"

df_max.loc[df_max["titre"] == "Samba", "duree"] = "2 h 00 min"
df_max.loc[df_max["titre"] == "Slumdog Millionaire", "duree"] = "2 h 00 min"
df_max.loc[df_max["titre"] == "Un conte peut en cacher un autre", "duree"] = "1 h 00 min"

In [269]:
# Créer une nouvelle colonne "pays" en combinant les valeurs des colonnes "pays_1" et "pays_2"
df_max["pays"] = df_max["pays_1"].combine_first(df_max["pays_2"])
# Supprimer la colonne "annee_1"
df_max = df_max.drop("pays_1", axis=1)
df_max = df_max.drop("pays_2", axis=1)
# Renommer la colonne "annee_2" en "annee"

# Afficher les premières lignes du DataFrame résultant
df_max.head()

,titre,annee,acteur_1,acteur_2,acteur_3,duree,sortie_1,sortie_2,sortie_3,sortie_4,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays
0,En pleine tempête,2000,George Clooney,Mark Wahlberg,Diane Lane,· 2 h 09 min,· 9 août 2000 (France),· 2 h 09 min,NaN,NaN,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne
1,Escrocs mais pas trop,2000,Woody Allen,Hugh Grant,Tracey Ullman,· 1 h 34 min,· 6 décembre 2000 (France),· 1 h 34 min,NaN,NaN,Woody Allen,Comédie,Policier,NaN,6.5,NaN,NaN,États-Unis
2,Le Prince du Pacifique,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,· 1 h 30 min,· 20 décembre 2000 (France),· 1 h 30 min,NaN,NaN,Alain Corneau,Aventure,Comédie,NaN,3.9,NaN,NaN,Espagne
3,Billy Elliot,2000,Jamie Bell,Julie Walters,Jamie Draven,· 1 h 50 min,· 20 décembre 2000 (France),· 1 h 50 min,NaN,NaN,Stephen Daldry,Comédie,Drame,NaN,7.3,Billy Elliot,NaN,Royaume-Uni
4,Hollow Man - L'Homme sans ombre,2000,Elisabeth Shue,Kevin Bacon,Josh Brolin,· 1 h 52 min,· 20 septembre 2000 (France),· 1 h 52 min,NaN,NaN,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis

In [270]:
# Sélectionner les lignes où la colonne "titre" contient l'une des valeurs spécifiées
mask = df_max["titre"].isin(["Sur le chemin de l'école", "Et les mistrals gagnants", "Visages, villages", "Lourdes"])

# Modifier les valeurs des colonnes "pays" et "genre_1" pour les lignes sélectionnées
df_max.loc[mask, "pays"] = "France"
df_max.loc[mask, "genre_1"] = "Documentaire"

In [271]:
# Copier les valeurs de la colonne "genre_1" dans la colonne "genre_2" pour les lignes où la colonne "genre_2" contient des valeurs NaN
df_max["genre_2"] = df_max["genre_2"].fillna(df_max["genre_1"])

# Copier les valeurs de la colonne "genre_1" dans la colonne "genre_3" pour les lignes où la colonne "genre_3" contient des valeurs NaN
df_max["genre_3"] = df_max["genre_3"].fillna(df_max["genre_1"])

In [272]:
def convert_to_minutes(duration):
    """Convertit une durée au format 'X h Y min' en minutes."""
    if pd.isna(duration):
        return duration
    hours = 0
    minutes = 0
    parts = duration.split()
    for i, part in enumerate(parts):
        if part == "h":
            hours = int(parts[i - 1])
        elif part == "min":
            minutes = int(parts[i - 1])
    return hours * 60 + minutes

# Convertir les durées dans la colonne "duree" en minutes
df_max["duree"] = df_max["duree"].apply(convert_to_minutes)

# Afficher les premières lignes du DataFrame résultant
print(df_max.head())

                             titre  annee           acteur_1        acteur_2  \
0                En pleine tempête   2000     George Clooney   Mark Wahlberg
1            Escrocs mais pas trop   2000        Woody Allen      Hugh Grant
2           Le Prince du Pacifique   2000  Thierry Lhermitte  Patrick Timsit
3                     Billy Elliot   2000         Jamie Bell   Julie Walters
4  Hollow Man - L'Homme sans ombre   2000     Elisabeth Shue     Kevin Bacon

            acteur_3  duree                       sortie_1       sortie_2  \
0         Diane Lane  129.0         · 9 août 2000 (France)   · 2 h 09 min
1      Tracey Ullman   94.0     · 6 décembre 2000 (France)   · 1 h 34 min
2  Marie Trintignant   90.0    · 20 décembre 2000 (France)   · 1 h 30 min
3       Jamie Draven  110.0    · 20 décembre 2000 (France)   · 1 h 50 min
4        Josh Brolin  112.0   · 20 septembre 2000 (France)   · 1 h 52 min

  sortie_3 sortie_4        realisateur   genre_1          genre_2  \
0      NaN      NaN  Wolfgang Petersen     Drame           Action
1      NaN      NaN        Woody Allen   Comédie         Policier
2      NaN      NaN      Alain Corneau  Aventure          Comédie
3      NaN      NaN     Stephen Daldry   Comédie            Drame
4      NaN      NaN     Paul Verhoeven  Thriller  Science-fiction

             genre_3  note_film        franchise_1 franchise_2         pays
0        Catastrophe        5.7                NaN         NaN    Allemagne
1            Comédie        6.5                NaN         NaN   États-Unis
2           Aventure        3.9                NaN         NaN      Espagne
3            Comédie        7.3       Billy Elliot         NaN  Royaume-Uni
4  Épouvante-Horreur        5.7  L'Homme invisible         NaN   États-Unis

In [273]:
# Vérifier s'il y a des titres en double dans la colonne "titre"
duplicates = df_max.duplicated(subset="titre", keep=False)

# Compter le nombre de titres en double
duplicate_count = duplicates.sum()

# Afficher le nombre de titres en double
print(f"Nombre de titres en double: {duplicate_count}")

# Afficher les titres en double et leurs entrées correspondantes
print(df_max.loc[duplicates, ["titre","annee"]])

Nombre de titres en double: 33
                    titre  annee
222    Les 4 Fantastiques   2005
407                  Coco   2009
474        Robin des Bois   2010
688   La Belle et la Bête   2014
691             Maléfique   2014
753    Les 4 Fantastiques   2015
864                Aurore   2017
955   La Belle et la Bête   2017
975                  Coco   2017
1102       Robin des Bois   2018
1194       Les Invisibles   2019
1266              Lourdes   2019
1398         Le Grand Jeu   2017
1486   L'Origine du monde   2020
1608         La Traversée   2022
1701              Tempête   2022
1861         La Traversée   2001
1864   L'Origine du monde   2001
1888                 Eden   2001
2088            Maléfique   2003
2299       Comme un avion   2002
2338               Aurore   2006
2404              Frankie   2006
2747                 Home   2009
2829                 Home   2008
2908              Lourdes   2011
3238         La Traversée   2012
3247       Les Invisibles   2012
3346                 Eden   2014
3553              Tempête   2015
3656       Comme un avion   2015
3672         Le Grand Jeu   2015
3918              Frankie   2019

In [274]:
# Modifier les titres en double dans df_max
df_max.loc[(df_max["titre"] == "Les 4 Fantastiques") & (df_max["annee"] == 2015), "titre"] = "Les 4 Fantastiques reboot"
df_max.loc[(df_max["titre"] == "Coco") & (df_max["annee"] == 2017), "titre"] = "Coco disney"
df_max.loc[df_max["titre"] == "Robin des Bois", "titre"] = df_max["titre"] + " - " + df_max["annee"].astype(str)
df_max.loc[df_max["titre"] == "La Belle et la Bête", "titre"] = df_max["titre"] + " - " + df_max["annee"].astype(str)

# df_max.loc[(df_max["titre"] == "Avatar") & (df_max["entree"] == "564 979"), "titre"] = "Avatar (nouvelle projection)"

In [275]:
# Sélectionner les lignes contenant l'un des mots spécifiés dans la colonne "titre"
selected_rows = df_max[df_max["titre"].str.contains(r"Avatar")]

# Afficher les lignes sélectionnées
selected_rows

,titre,annee,acteur_1,acteur_2,acteur_3,duree,sortie_1,sortie_2,sortie_3,sortie_4,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays
404,Avatar,2009,Sam Worthington,Zoe Saldaña,Sigourney Weaver,162.0,· 16 décembre 2009 (France),· 2 h 42 min,NaN,NaN,James Cameron,Action,Aventure,Science-fiction,6.4,Avatar,NaN,États-Unis
1788,Avatar - La Voie de l'eau,2022,Sam Worthington,Zoe Saldaña,Sigourney Weaver,192.0,· 14 décembre 2022 (France),· 3 h 12 min,NaN,NaN,James Cameron,Action,Aventure,Fantastique,6.7,Avatar,NaN,États-Unis

In [276]:
# Convertir toutes les valeurs de la colonne "titre" en minuscules
df_max['titre'] = df_max['titre'].str.lower()

In [277]:
import pandas as pd

# Création d'une fonction pour extraire les données contenant 'France' dans les colonnes 'sortie_1', 'sortie_2', 'sortie_3' et 'sortie_4'
def extract_france(row):
    for col in ['sortie_1', 'sortie_2', 'sortie_3', 'sortie_4']:
        if 'France' in str(row[col]):
            return row[col]
    return None

# Application de la fonction à chaque ligne du dataframe pour créer la nouvelle colonne 'sortie_france'
df_max['sortie_france'] = df_max.apply(extract_france, axis=1)

In [278]:
# Nettoyage de la colonne 'sortie_france'
df_max['sortie_france'] = df_max['sortie_france'].str.replace('·', '').str.replace('(France)', '').str.replace('()', '').str.strip()



# Suppression des colonnes 'sortie_1', 'sortie_2', 'sortie_3' et 'sortie_4'
df_max = df_max.drop(['sortie_1', 'sortie_2', 'sortie_3', 'sortie_4'], axis=1)

C:\Users\impej\AppData\Local\Temp\ipykernel_16324\2168574330.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_max['sortie_france'] = df_max['sortie_france'].str.replace('·', '').str.replace('(France)', '').str.replace('()', '').str.strip()

In [279]:
# Nettoyage de la colonne 'sortie_france'
df_max['sortie_france'] = df_max['sortie_france'].str.replace('()', '', regex=False).str.strip()

In [280]:
# Suppression des doublons en fonction des colonnes 'titre' et 'annee'
df_max = df_max.drop_duplicates(subset=['titre', 'annee'])

# Affichage des premières lignes du DataFrame résultant
df_max.head()

,titre,annee,acteur_1,acteur_2,acteur_3,duree,realisateur,genre_1,genre_2,genre_3,note_film,franchise_1,franchise_2,pays,sortie_france
0,en pleine tempête,2000,George Clooney,Mark Wahlberg,Diane Lane,129.0,Wolfgang Petersen,Drame,Action,Catastrophe,5.7,NaN,NaN,Allemagne,9 août 2000
1,escrocs mais pas trop,2000,Woody Allen,Hugh Grant,Tracey Ullman,94.0,Woody Allen,Comédie,Policier,Comédie,6.5,NaN,NaN,États-Unis,6 décembre 2000
2,le prince du pacifique,2000,Thierry Lhermitte,Patrick Timsit,Marie Trintignant,90.0,Alain Corneau,Aventure,Comédie,Aventure,3.9,NaN,NaN,Espagne,20 décembre 2000
3,billy elliot,2000,Jamie Bell,Julie Walters,Jamie Draven,110.0,Stephen Daldry,Comédie,Drame,Comédie,7.3,Billy Elliot,NaN,Royaume-Uni,20 décembre 2000
4,hollow man - l'homme sans ombre,2000,Elisabeth Shue,Kevin Bacon,Josh Brolin,112.0,Paul Verhoeven,Thriller,Science-fiction,Épouvante-Horreur,5.7,L'Homme invisible,NaN,États-Unis,20 septembre 2000

In [281]:
df_max.to_csv("data/silver_senscritique.csv" , index=False)